{{ define "products-form" }}
<div>
<input name="ID" id="ID" required readonly type="number" value="">

<div id="form-error"></div>

<label for="Name">Name</label>
<input name="Name" id="Name" required type="text" value="">

<label for="Description">Description</label>
<input name="Description" id="Description" required type="text" value="">

<label for="Price">Price</label>
<input name="Price" id="Price" required type="number" value="">

<label for="Picture">Picture</label>
<input name="Picture" id="Picture" required type="text" value="">

<div class="flex">
    <div class="checkbox">
        <input type="checkbox" name="Deactivated" id="Deactivated">
        <label for="Deactivated"></label>
    </div>
    <label for="Deactivated">Deactivated</label>
</div>

<button type="submit">Save</button>
</div>
{{ end}}
