{{ define "title" }}New Promocode{{ end }}
{{ define "header-left" }}<h1>New Promocode</h1>{{ end }}
{{ define "header-right" }}{{ end }}

{{ define "content" }}
<form method="POST" id="editor" data-link="/admin/promocodes">
    {{ template "promocodes-form" . }}
</form>
{{ end }}
