{{ define "title" }}Promocodes{{ end }}

{{ define "header-left" }}<h1>Promocodes</h1>{{ end }}

{{ define "header-right" }}
<button id="edit" alt="Edit" title="Edit"><i class="material-icons">mode_edit</i> Edit</button>
<button id="activate"><i class="material-icons">lens</i> Activate</button>
<button id="deactivate" alt="Deactivate" title="Deactivate"><i class="material-icons">blur_on</i> Deactivate</button>
<button id="add"><i class="material-icons">add</i> New</button>
{{ end }}

{{ define "content" }}
<table id="promocodes">
    <thead>
        <tr>
            <th>#</th>
            <th>Code</th>
            <th>Percentage</th>
            <th>Discount</th>
            <th>Expiration Date (UTC)</th>
            <th>Deactivated</th>
            <th></th>
        </tr>
    </thead>
    {{range $promocode := .Data.Items }}
    <tr data-id="{{ $promocode.ID }}">
        <td data-name="ID">{{ $promocode.ID }}</td>
        <td data-name="Code">{{ $promocode.Code }}</td>
        <td data-name="Percentage">
            <div class="checkbox">
                <input type="checkbox" disabled value="second_checkbox" {{ if $promocode.Percentage }}checked{{ end }}>
                <label></label>
            </div>
        </td>
        <td data-name="Discount">{{ $promocode.Discount }}</td>
        <td data-name="Expires">{{ $promocode.Expires.Format "02 Jan 06 15:04 MST" }}</td>
        <td data-name="Deactivated">
            <div class="checkbox">
                <input type="checkbox" disabled value="second_checkbox" {{ if $promocode.Deactivated }}checked{{ end }}>
                <label></label>
            </div>
        </td>
        <td><button class="edit"><i class="material-icons">mode_edit</i></button></td>
    </tr>
    {{ end }}
</table>
<div class="navigation">
    <a {{ if .Data.HasPrevious }}href="{{ .Data.LinkPrevious }}" ><button>Previous</button></a>{{ else }}><button disabled>Previous</button>{{ end }}</a>
    <a {{ if .Data.HasNext }}href="{{ .Data.LinkNext }}" ><button>Next</button></a>{{ else }}><button disabled>Next</button>{{ end }}</a>
</div>

<form method="POST" id="editor" class="floating-box" data-link="/api/promocodes">
    <h2><span id="new-text">New Promocode</span><span id="edit-text">Promocode #<span id="barID"></span></span><span id="expand">&#9660;</span></h2>
  {{ template "promocodes-form" . }}
</form>
{{ end }}
