{{ define "title" }}Home{{ end }}
{{ define "header-left" }}<h1>Home</h1>{{ end }}
{{ define "header-right" }}{{ end }}
{{ define "content" }}
<ul>
    <li><a href="/admin/promocodes">Promocodes</a></li>
    <li><a href="/admin/orders">Orders</a></li>
    <li><a href="/admin/users">Users</a></li>
    <li><a href="/admin/products">Products</a></li>
</ul>
{{ end }}
