{{ define "orders-form" }}
<div>
    <input name="ID" id="ID" required readonly type="number" value="0">

    <div id="form-error"></div>

    <label for="User.ID">User ID</label>
    <input name="User.ID" id="User.ID" required type="number" value="">

    <label for="PayPal">PayPal ID</label>
    <input name="PayPal" id="PayPal" required type="text" value="">

    <label for="Promocode.ID">Promocode ID</label>
    <input name="Promocode.ID" id="Promocode.ID" type="number" value="">

    <label for="Value">Value</label>
    <input name="Value" id="Value" required type="number" value="">

    <label for="PaymentStatus">Payment Status</label>
    <select data-type="number" name="PaymentStatus" id="PaymentStatus" required>
        <option value="-1">Canceled</option>
        <option value="0">Waiting</option>
        <option value="1">Done</option>
        <option value="2">Failed</option>
    </select>

    <label for="FulfillmentStatus">Fulfillment Status</label>
    <select data-type="number" name="FulfillmentStatus" id="FulfillmentStatus" required>
        <option value="-1">Canceled</option>
        <option value="0">Unfulfilled</option>
        <option value="1">Fulfilled</option>
    </select>

    <button type="submit">Save</button>
</div>
{{ end }}
