* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #2f3242;
    color: #fff;
}

body.covered {
    background: url(/static/imgs/cover.jpg) center center / cover;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body>main {
    margin: 10em 0 0 6em;
    padding: 2.5em;
    position: relative;
}


/* INPUTS & MORE */

input,
textarea {
    width: 100%;
    display: block;
    border: 3px solid #e6e6e6;
    padding: .5em;
    margin-bottom: 1em;
    border-radius: 2px;
}

input.works {
    border-color: green;
}

input.error {
    border-color: red;
}

button {
    display: block;
    background-color: transparent;
    border-radius: 0;
    color: #fff;
    border: 0;
    padding: 0;
    margin: 0 auto;
    cursor: pointer;
    transition: .2s ease all;
}

label {
    margin-bottom: .2em;
    display: block;
    font-weight: bold;
}

input[type="checkbox"] {
    display: inline-block;
    width: 1em;
    border: 0;
    padding: 0;
    border-radius: 0;
}

input#ID {
    display: none;
}

#form-error {
    background-color: #FF3855;
    margin-bottom: 1em;
    padding: 0;
    color: #fff;
    border-radius: 2px;
    height: 0;
    transition: .2s ease height;
}

#form-error.error,
#form-error.success,
#form-error.warning {
    height: auto;
    padding: .4em;
}

#form-error.success {
    background-color: #00E5D4;
}

#form-error.warning {
    background-color: #E3FD31;
    color: #272727;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


/* STORE */

#store>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    flex-basis: 30%;
}

.product img {
    width: 100%;
    height: 15em;
    object-fit: cover;
}

.product h2,
.product .btnBuy {
    display: inline-block;
}

.product .btnBuy {
    margin: 0.83em 0;
    float: right;
    border-radius: 2.5px;
    border: 1px solid #49A34B;
    background: #1EBE39;
}


/* footer */

body>footer p {
    text-align: center;
    color: #ccc;
    font-size: .9em;
    margin: 1em;
}


/* ---------------------------------
------------ BACK END ONLY ---------
------------------------------------ */

.edit {
    cursor: pointer;
    border: 0;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    border-radius: 50%;
    margin-left: auto;
    font-size: 1em;
    line-height: 1;
    padding: 0;
}

.edit:hover {
    background: rgba(0, 0, 0, 0.2);
}

.edit:active,
.edit:hover {
    outline: 0;
}

.edit i {
    font-size: .9em;
    padding: .5em;
}


/* TABLE TOOLBAR */


/* TABLE */

table {
    width: 100%;
    padding: 0;
    margin: -2.5em 0 0 0;
    border-collapse: separate;
    background: transparent;
    border-spacing: 0 1.5em;
    border: 0;
}

table tbody tr {
    cursor: pointer;
    background-color: #3a3e52;
    transition: .1s ease all;
}

table tbody tr td:first-child {
    border-left: 0.25em solid #2196f3;
    border-top-left-radius: .313em;
    border-bottom-left-radius: .313em;
}

table tbody tr td:last-child {
    border-top-right-radius: .313em;
    border-bottom-right-radius: .313em;
}

table thead th {
    font-weight: normal;
    letter-spacing: 0.3px;
    color: #9ea3b4;
}

table tbody tr.highlight {
    background-color: #3082c3 !important;
}

table tr:nth-of-type(odd) {}

table td,
table th {
    padding: 1em;
    text-align: left;
}

table td:first-child,
table th:first-child {
    max-width: 60px;
}


/* CHECKBOX */

.checkbox {
    width: 20px;
    position: relative;
}

tr .checkbox {
    opacity: .5;
}

.checkbox label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    box-shadow: inset 0px .09em .1em rgba(0, 0, 0, 0.38);
    background: #2f3242;
}

.checkbox label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.checkbox input[type=checkbox] {
    visibility: hidden;
}

.checkbox input[type=checkbox]:checked+label:after {
    opacity: 1;
}


/* NAVIGATION BUTTONS */

.navigation {
    display: flex;
    width: auto;
    margin: 0 auto;
    color: #fff;
}

.navigation button {
    padding: 0;
    margin: 0;
}

.navigation a:first-of-type {
    margin-right: auto;
}

.navigation a:first-of-type button:before {
    content: '\2190  ';
}

.navigation a:last-of-type button:after {
    content: ' \2192';
}

.navigation button:disabled {
    opacity: .4;
}


/* SINGLE FORM */

#editor {
    background-color: #2f3242;
    transition: .5s ease-in-out all;
    position: fixed;
    bottom: 0;
    transform: translateY(100%);
    right: 2em;
    padding: 0;
    margin: 0;
    z-index: 999999999999;
    box-shadow: 0px 0.188em .5em 0 rgba(23, 24, 32, 0.2);
    max-width: 350px;
    width: 90%;
}

#editor h2 {
    padding: .67em;
    background-color: #2196f3;
    color: #fff;
    margin: 0;
    font-size: 1.25em;
    text-align: left;
}

#editor #expand {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid rgba(0, 0, 0, 0.16);
    font-size: .8em;
    border-radius: .2em;
    color: rgba(0, 0, 0, 0.16);
    margin: .9em;
    margin-left: 0;
    cursor: pointer;
    transform: rotate(180deg);
    transition: .2s ease all;
}

#editor>div {
    padding: .5em 1.5em 1.5em;
    overflow-y: auto;
    display: block;
    max-height: 80vh;
}

#editor.show {
    transform: translateY(0);
}

#editor.show #expand {
    transform: rotate(0);
}

#editor #edit-text {
    display: none;
}

#editor .flex {
    display: flex;
}

#editor .checkbox {
    margin-right: 1em;
}

#editor .checkbox label {
    background: #2196f3;
}

#editor button {
    background: #2196f3;
    padding: .5em 2em;
    border-radius: 5px;
}


/* SIDEBAR */

aside {
    z-index: 999;
    width: 6em;
    position: fixed;
    top: 0;
    padding-top: 5em;
    left: 0;
    height: 100%;
    background-color: #2f3242;
    box-shadow: 0px 0.188em 1em 0 rgba(23, 24, 32, 0.2);
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside li {
    width: 100%;
    color: #757da4;
    text-align: center;
    margin: 2.313em 0;
    transition: .2s ease color;
    cursor: pointer;
}

aside li:hover,
aside li.active {
    color: #f4f5f7;
}

aside li i {
    font-size: 1.750em !important;
}


/* TITLE BAR */

header {
    display: flex;
    width: calc(100% - 6em);
    position: fixed;
    padding: 0 2.175em;
    top: 5em;
    line-height: 5em;
    height: 5em;
    left: 6em;
    z-index: 99;
    align-items: center;
    background-color: #2196f3;
    box-shadow: 0px 0.188em .5em 0 rgba(23, 24, 32, 0.2);
}

header div:first-of-type {
    margin-right: auto;
}

header div {
    display: flex;
}

header button {
    margin: 0 0 0 1em;
    padding: .5em;
    font-size: .9em;
    line-height: 1;
    border-radius: 1.5em;
    border: solid 2px #f1f1f1;
    color: #f4f5f7;
}

header button[disabled] {
    opacity: .5;
    cursor: not-allowed;
}

header button i {
    font-size: 1em !important;
}

header h1 {
    font-size: 1em;
    margin: 0 auto 0 0;
    line-height: 5em;
}


/* NAV BAR */


/* NAVIGATION BAR */

body>nav {
    top: 0;
    z-index: 9999;
    position: fixed;
    left: 0;
    width: 100%;
    height: 5em;
    line-height: 5em;
    color: #fff;
    background-color: #2f3242;
    box-shadow: 0px 0.188em .5em 0 rgba(23, 24, 32, 0.2);
    padding: 0 2.125em;
}

body>nav ul {
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
}

body>nav>ul {
    align-items: center;
}

body>nav>ul>li:first-of-type {
    margin-right: auto;
}

body>nav a {
    display: block;
    line-height: 1;
    transition: .2s ease-in all;
}

body>nav>ul>li img {
    width: 6em;
}