{{ define "title" }}Checkout &bull; Upframe{{ end }}
{{ define "content" }}

{{ $credit := .Session.Credit }}
{{ with .Data }}
<form role="main" class="floating-box checkout" id="checkout" method="POST">
    <h1>Checkout</h1>

    <table id="summary">
        <thead>
            <tr>
                <th>Qty</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        {{ range $product := .Products }}
        <tr data-id="{{ $product.ID }}">
            <td data-name="Quantity">{{ $product.Quantity }}x</td>
            <td data-name="Name">{{ $product.Name }}</td>
            <td data-name="Price">{{ DisplayCents $product.Price }}</td>
        </tr>
        {{ end }}
    </table>

    <div class="information">
        <div>
            <span>Subtotal</span>
            <span id="subtotal" data-cents="{{ .GetTotal }}"> {{ DisplayCents .GetTotal }}</span>
        </div>
        <div>
            <span>Promocode</span>
            <span id="promocode-value"> {{ DisplayCents 0}}</span>
        </div>
        {{ if not (eq $credit 0) }}
        <div>
            <span>Credits</span>
            <span id="credits"> {{ DisplayCents 0}}</span>
        </div>
        {{ end }}
        <div>
            <span>Total</span>
            <span id="total" data-cents="{{ .GetTotal }}"> {{ DisplayCents .GetTotal }}</span>
        </div>
    </div>

    <form method="POST">
        <h2>Do you want to use a promocode?</h2>
        <input id="promocode" name="promocode" value="" placeholder="Coupon code">

        {{ if not (eq $credit 0) }}
        <h2>Want to use some of your credits?</h2>
        <input name="credits" type="number" value="0" min="0" max="{{ $credit }}">
        {{ end }}

        <div id="form-error"></div>
        <input type="submit" class="submit" value="Pay">
    </form>
</form>
{{ end }}
{{ end }}
