http://fest.localhost {
    gzip
    root ./site/
    internal /templates

    fest {
        db_user user
        db_pass pass
        db_host host
        db_name port

        smtp_user user
        smtp_pass pass
        smtp_host host
        smtp_port port

        paypal_client SOMETHING
        paypal_secret SOMETHING

        # Other configuration
        base_invites 5
    }

    errors {
        log errors.log
        404 404.html
    }
}
